{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro",
        "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-astro"]
      }
    },
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-svelte"]
      }
    }
  ]
}
