---
import AwePlayerSvelte from '../examples/AwePlayerSvelte.svelte';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>AwePlayer Astro Example</title>
  </head>
  <body class="">
    <div class="mb-10 text-center text-black">
      <h1 class="p-4 text-2xl">
        AwePlayer with <span class="text-orange-500">Astro</span>
      </h1>
      <p class="text-zinc-400">Example @svelte</p>
    </div>
    <AwePlayerSvelte />
  </body>
</html>
